
body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #c9c9fa;
}

.tables{
    display: block;
    margin: 0.3%;
}

.tables th {
    
    background-color: #f5e582;
    text-align: center;
    padding: 8px;
}
  
.tables td {
    
    border-bottom: 1px solid #ddd;
    padding: 8px;
}
  
.tables tr:hover {
    background-color: #def8cf;
}

.tables tbody {
    background-color: #ffffff;
    text-align: center;
    padding: 8px;
}

label {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
    
input[type="number"] {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left: 1%;
}
    
button {
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 1%;
}

#donate {
    font-size: 1.5em;
    margin: 5px;
    padding: 10px 20px;
    width: 200px;
  }
  
button:hover {
    background-color: #3e8e41;
}

.charity-select {
    float: left;
    margin: 0.3%;
    margin-bottom: 1%;
    max-width: 600px;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
}
        
.donation-amount {
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin: 0 auto;
    max-width: 600px;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
   
}


.withdraw-donations{
    margin: 20px;
   padding: 20px;
   border: 1px solid #ccc;
   background-color: #fff;
   border-radius: 10px;
}




  .contract-owner-actions {
    float: left;
    margin: 0.3%;
    
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
}

.new-charity-form h2, .new-charity-form input {
    display: inline-block;
    margin-right: 10px; /* adds some space between the header and input */
  } 

  #add-new-charity {
    font-size: 1.1em;
    margin: 5px;
    padding: 10px 20px;
    width: 200px;
  }


  .new-charity {
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin: 0 auto;
   
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
   
}



.new-contract-owner{
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
   
   
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
}

.new-contract-owner-form h2, .new-contract-owner-form input {
    display: inline-block;
    margin-right: 10px; /* adds some space between the header and input */
  } 

  #add-new-contract-owner {
    font-size: 1.1em;
    margin: 5px;
    padding: 10px 20px;
    width: 300px;
  }



  .matched-amount-button h2 {
    display: inline-block;
    margin-right: 10px; /* adds some space between the header and input */
  } 


.matched-amount-button{
    margin: 20px;
   padding: 20px;
   border: 1px solid #ccc;
   background-color: #fff;
   border-radius: 10px;
}


  #match-all-amounts {
    font-size: 1.1em;
    margin: 5px;
    padding: 10px 20px;
    width: 300px;
  }


  .error-message{
    margin: 20px;
   padding: 20px;
   border: 1px solid #ccc;
   background-color: #fff;
   border-radius: 10px;
}
  