body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #333;
  }
  
  /* Set the background color of the page */
  body {
    background-color: #c9c9fa;
  }
  
  /* Separated sections */
  .balance,
  .account-check,
  .charity-select,
  .donation-form,
  .withdraw-donations,
  .charity-addresses,
  .charity-donations,
  .charity-total-donations,
  .donors-info,
  .new-charity-form,
  .new-contract-owner-form,
  .charities-info {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
  }
  
  .charities-table {
    margin: 20px;
    border-collapse: collapse;
    font-size: 16px;
    font-family: Arial, sans-serif;
  }
  
  .charities-table th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 8px;
  }
  
  .charities-table td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
  }
  
  .charities-table tr:hover {
    background-color: #f5f5f5;
  }
  
  .charities-table tbody {
    background-color: #ffffff;
    text-align: left;
    padding: 8px;
  }
  
  .donors-table {
    margin: 20px;
    border-collapse: collapse;
    font-size: 16px;
    font-family: Arial, sans-serif;
  }
  
  .donors-table tbody {
    background-color: #ffffff;
    text-align: left;
    padding: 8px;
  }
  
  .donors-table th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 8px;
  }
  
  .donors-table td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
  }
  
  .donors-table tr:hover {
    background-color: #f5f5f5;
  }
  
  .charity-select,
  .donation-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff8dc;
    padding: 30px;
    margin: 20px auto;
    width: 50%;
    max-width: 600px;
  }

  .charity-select,
.donation-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff8dc;
  padding: 30px;
  margin: 20px auto;
  width: 50%;
  max-width: 600px;
}